<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: main-head"></head>
<body>
    <nav th:replace="partials/navbar :: main-nav"></nav>

    <h1>You are viewing post # <span th:text="${id}"></span> </h1>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header" th:text="${post.title}"></div>
        <div class="card-body">
            <p class="card-text" th:text="${post.body}"></p>
        </div>
    </div>

    <div th:replace="partials/footer :: main-footer"></div>
</body>
</html>