<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/header :: head('Post')"></head>
<body>
    <nav th:replace="partials/navbar :: main-nav"></nav>
    <div th:replace="partials/jumbotron :: jumbotron('Viewing Post ' + ${post.getTitle()})"></div>

    <div class="card border-dark mb-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.getTitle()}"></h5>
            <p class="card-text" th:text="${post.getBody()}"></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="@{'Created by: ' + ${post.getUser().getEmail()}}"></li>
                <li class="list-group-item">
                    <div th:each="tag : ${post.getTags()}">
                        <span class="badge badge-pill badge-primary" th:text="${tag.getName()}"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer" th:if="${show == 'true' or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a th:href="@{'/delete/' + ${post.id}}" class="text-danger">Delete</a>
            <a th:href="@{'/update/' + ${post.id}}" class="text-info">Edit</a>
        </div>
    </div>


    <div th:replace="partials/footer :: main-footer"></div>
</body>
</html>