<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="main-nav" class="navbar navbar-dark bg-dark">
        <ul class="nav">
            <li class="nav-item"><a href="/posts">Home</a></li>
            <li class="nav-item">About</li>
            <li class="nav-item">Contact</li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</body>
</html>